/*used for defining the custom color of the website*/
.site-color { 
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
}

/*used to set padding to leftmost object*/
.set-padding{
	padding-left: 30px; 
	padding-top: 30px;

}
.line {
  fill: none;
  stroke: #4CAF50;
  /*stroke: orangered;*/
  stroke-width: 2px;
}

.bar { fill: #4CAF50;  transition: all .2s ease-in-out;}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
  fill: black;
}

.frame {
  fill: none;
  stroke: #aaa;
}

/*circle {
  fill: #4CAF50;
  fill-opacity: .7;
}

circle.hidden {
  fill: #4CAF50 !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}*/

/*svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}*/

/*.bar:hover {*/
  /*fill: orangered ;*/
  /*transform: scale(1.01,1.01);*/
  /*transform-origin: center bottom;*/

/*}*/

/*#tooltip {
      position: absolute;
      width: 100px;
      height: auto;
      padding: 10px;
      background-color: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      pointer-events: none;
    }

    #tooltip.hidden {
      display: none;
    }

    #tooltip p {
      margin: 0;
      font-family: Futura;
      font-size: 16px;
      line-height: 20px;
    }*/

/*circle:hover {
  fill: orangered ;
  

}*/
